$border: 1px solid rgb(142, 147, 150);

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #4e4d4d;
  background-color: rgba(239, 219, 84, 0.22);
  border-radius: 1rem;

  &__title {
    border-bottom: $border;

    & .title {
      font-size: 2rem;
    }
  }

  &__content {
    margin-top: 1rem;
  }
}
